body {
  font-family: 'Karla', sans-serif;
  background: hsl(204, 43%, 93%);

}
h3 {
  color: hsl(179, 62%, 43%);
  margin-left: 5%;
}

br {
  margin:0;
}

footer {
  margin-top: 400px;
}

span {
  color: lightgrey;

}


.CaixaPrincipal {
  Position: Relative;
  /border: 5px yellow solid;
  margin: 7% 20%;
  height: 480px;
  width: 800px;

}
@media screen and (max-width: 900px) {
  .CaixaPrincipal {
    margin: 30px;
    position: static;
    width: 90%;
  }
}


.CaixaSuperior {
  /Position: absolute;
  border: 1px lightgrey solid;
  box-shadow: 2px 0px lightgrey;
  border-bottom: none;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 75%;
  margin-left: 15%;

}

.guarantee {
 color:  hsl(71, 73%, 54%);
 font-weight: 700;
 margin-bottom: 0;
 margin-left: 5%;
}

.TextCaixaSup {
  color: hsl(218, 22%, 67%);
  margin-bottom: 0;
  margin-top: 0;
  padding-bottom: 50px;
  margin-left: 5%;

}



.CaixaInferiorEsq {
  Position: absolute;
  border: 1px lightgrey solid;
  box-shadow: 0px 3px lightgrey;
  border-top: none;
  border-right: none;
  /margin-top: 20px;
  height: 210px;
  width: 250px;
  background-color: hsl(179, 62%, 43%);
  text-align: left;
  padding: 3%;
  margin-left: 15%;
  border-bottom-left-radius: 10px;
}
@media screen and (max-width: 900px) {
  .CaixaInferiorEsq {
    /margin: 50px;
    position: static;
    width: 69.5%;
    padding-bottom: 12%;
  }
}

.Monthly {
  color: #fff;
  margin-bottom: 0;
}

#DollarPerMonth {
  color: #fff;
  /margin: 7%;
}

.price {
  font-size: 25px;
  margin-top: 20px;
  color: #fff;
  display: inline-block;
  margin-bottom: 0;

}




.btn {
  border-radius: 5px;
  width: 90%;
  height: 20%;
  background-color: hsl(71, 73%, 54%);
  color: #fff;
  font-weight: 700;
  font-size: 14px;
  border: none;
  margin-top: 12%;


}


.CaixaInferiorDir {
  position: absolute;
  background-color: lightblue;
  /margin-top: 60px;
  border: 1px lightgrey solid;
  box-shadow: 2px 3px lightgrey;
  border-top: none;
  border-left: none;
  height: 210px;
  width: 249px;
  margin-left: 52%;
  padding: 3% 4% 3% 3%;
  color: #fff;
  border-bottom-right-radius: 10px;
}
@media screen and (max-width: 900px) {
  .CaixaInferiorDir {
    margin-left: 65px;
    position: static;
    width: 67.8%;
    padding-bottom: 12%;

  }
}


#PCaixaInferiorDir {
  padding-bottom: 3%;
}
